{% layout none %}
<!DOCTYPE html>
<html>
    
<head>
  <title>PoshBox Coming Soon</title>
  <!--Password CSS: password.css asset -->
  {{ 'password.css' | asset_url | stylesheet_tag }}

  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  
  <!--Script to Activate Password-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    
    jQuery( document ).ready(function() {
        var url = window.location.href;
        var captured = /pass=([^&]+)/.exec(url)[1]; // Value is in [1] ('384' in our case)
        var result = captured ? captured : 'myDefaultValue';

        if(result == '1'){
              jQuery('#password-container').show();
        }
    });

    
    
  </script>
    

</head>
  
<body>
  
  <!--Password to Get In-->
  <div id='password-container'>
    <div id='login'>
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for='password'>Enter store using password: </label>
      <input type='password' name='password' id='password' autofocus />
      <div class="actions">
        <input class="btn" name="commit" type="submit" value="Enter" />
      </div>
      {% endform %}
    </div>
  </div>
  
  <div id="soonHeader">
    <img src="{{ 'soonLogo.png' | asset_url }}"/>
  </div>
  
  <!--Page Content-->
  <div id="homeTop">
	<div id="homeTopBox">
      <h1>A Full Box of <span id="italicRed">Health, Beauty, and Comfort.</span></h1>
      <p><em>Enter Your Email to Be Notified of Our Limited Release:</em></p>
       

      
      <!--Bronto Email-->
      <form id="emailForm" action="https://app.bronto.com/public/webform/process/" method="post">
        <input type="hidden" name="fid" value="83jv4nvo8s745eyn0quft9fihzac3" />
        <input type="hidden" name="sid" value="6ad6b9ca31603e59384bac17e4996274" />
        <input type="hidden" name="delid" value="" />
        <input type="hidden" name="subid" value="" />
        <input type="hidden" name="td" value="" />
        <input type="hidden" name="formtype" value="addcontact" />
        <script type="text/javascript">
        var fieldMaps = {};
        </script>

        <div class="section" id="row_33256">
          	 <div id="emailFormField">
             	<input type="text" placeholder="Enter Email..." class="text field fb-email" size="35" name="85222" value="" />
             </div>
             <input type="submit" id="getCouponCTA" value="Notify Me »" />

            <input type="hidden" name="85226[1031104]" value="true" />
        </div>

      </form>
      

      
      
  	</div>
  </div>
  
  
  <script type="text/javascript">
     document.getElementById('password').focus();
  </script>
  
  
</body>


  
</html>
